{% extends "base.html" %}
{% block title %}Custom emoji list for {{ instance }}{% endblock title %}
{% block body %}
<p>
    <b>{{ instance }}</b> emojo list<br>
    click/touch to copy to clipboard
</p>
<dl class="emojo">
    {% for emoj in emojo %}
    <div>
        <dt><img src="{{ emoj.url }}" alt="{{ emoj.alt_text }}" loading=lazy></dt>
        <dd>:{{ emoj.shortcode }}:</dd>
        <dd class="copy-text">![{{ emoj.alt_text }}]({{ emoj.url }} "emoji {{ emoj.shortcode }}")</dd>
    </div>
    {% endfor %}
</dl>
{% endblock body %}
{% block script %}
<script src="/static/copy.js"></script>
{% endblock script %}
